@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Shippori Antique B1', sans-serif;
}
#header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	background-image: linear-gradient(to left ,#ffffff, #288958);
	z-index: 100;
}
#header .nav{
	list-style-type: none;
}
#header .nav li{
	display: inline-block;
	margin: 5px;
	padding: 10px;

}
#header .nav .active a{
	color: #ccc;
	font-weight: 500;
}
#header .nav a{
	color: #fff;
	text-decoration: none;
}
.fondo{
	height: 100vh;
	background-image: url('../assets/hojas.jpeg');
	background-position: center;
	background-size: cover;
}
.h50{
	height: 50vh;
}

li {
	font-size: 15px;
	transition: height 1s;
}

li:hover {
	font-size: 20px;
}